table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 20%;
}

table#report_list .report_title {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}